/*Colors
#5163AD = blue
#FDFBEC = yellow bg
#6EBE46 = green
#F6F7F7 = div bg white
#BA2F2B = red
#2C37B7 = blue
*/

/*Reset*/
*{
	margin: 0;
	padding:0;
}

/*normals*/
body{
	background-color:#FDFBEC;
}

header{
	margin-top: 0;
	height: 120px;
	background-color: #22211F;
}

header, a{
	color: #6EBE46;
}

h1, h2, h3, h4, h5{
	font-family: 'Merriweather', serif;
}

h1{
	font-size: 260%;
}

h2{
	font-size: 220%;
}

p{
	font-family: 'Slabo 27px', serif;
}

a{
	text-decoration: none;
}

button.fight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fdfbec;
	padding: 4px 11px;
	background: -moz-linear-gradient(
		top,
		#5163ad 0%,
		#6884f7);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#5163ad),
		to(#6884f7));
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 2px solid #1f2022;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 3px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 3px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 3px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0);
}

.fight:hover{
	background: -moz-linear-gradient(
		top,
		#96aafa 0%,
		#5163ad);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#96aafa),
		to(#5163ad));
}


/*index.html Main Header*/
.title{
	vertical-align: middle;
	text-align: center;
	padding-top: 30px;
	clear: both;
}

/*Navigation*/
.leftNav{
	float: left;
	margin-left: 1%;
}

.rightNav{
	float: right;
	margin-right: 1%;
}


/*Top section home page*/
.topSection{
	padding: 25px;
	height: 85px;
	background-color: #5163AD;
	color:#F6F7F7;
	opacity: .92;
}

.tagline{
	float: left;
	margin-left: 6%;
}

.signedIn{
	float: right;
	/*margin-left: 2%;*/
	margin-right: 30%;
}


/*Front page call to action*/
.happeningNow{
	height: 400px;
	width: 590px;
	border: 2px solid #939191;
	float: left;
	margin-left: 5%;
	margin-top: 2%;
	padding: 10px;
	background-color: #F6F7F7;
}

.now{
	padding-left: 3%;
}

.pickNow{
	float:right;
	margin-right: 2%;
}

#picknow{
	width:150px;
	height:240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #ffffff;
	padding: 30px 8px;
	background: -moz-linear-gradient(
		top,
		#6dbe47 0%,
		#365c23);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#6dbe47),
		to(#365c23));
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 4px solid #171717;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(087,087,087,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(087,087,087,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(087,087,087,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

#picknow:hover{
	background: -moz-linear-gradient(
		top,
		 #83e055 0%,
		#6dbe47);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#83e055),
		to(#6dbe47));
	
}


/*Upcoming fights*/
.upcoming{
	border: 2px solid #939191;
	height:520px;
	width: 600px;
	float: right;
	clear: right;
	padding: 10px;
	margin-right: 5%;
	margin-top: 2%;
	background-color: #F6F7F7;
	margin-bottom: 9%;
}

.floatRight{
	float: right;
	height:100px; 
	width: 100px;
}

.floatLeft{
	float: left;
	height: 100px;
	width: 100px;
}

.column1{
	float: left;
}

.column2{
	float: right;
}


/*Event area*/
.event{
	border: 2px solid #939191;
	width:800px;
	height: 1050px;
	float:left;
	clear: left;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 9%;
	padding: 10px;
	background-color: #F6F7F7;
}

.row1{
	padding: 10px;
	padding-left: 35px;
}

.row2{
	padding: 10px;
	padding-left: 35px;
}

.row3{
	float: left;
	padding-left: 187px;
	text-align: right;
	margin-top: 1%;
	padding-bottom: 5px;
}

.row4{
	float: right;
	padding-right: 187px;
	text-align: left;
	margin-top: 1%;
	padding-bottom: 5px;
}

.fight1form{
	float: left;
	text-align: left;
}

.fight2form{
	float: right;
	text-align: left;
	padding-right: 37px;
}

.redChoice{
	color: white;
	background-color: #BA2F2B;
}

.blueChoice{
	color: white;
	background-color: #2C37B7;
}

/*Live Results area*/

.results{
	margin-top: 40px;
}

.red{
	color: #BA2F2B;
}

.breakdownLeft{
	float: left;
	padding-left: 180px;
	text-align: right;
	margin-top: 22px;
}
.breakdownRight{
	float: right;
	padding-right:180px;
	margin-top: 22px;
}

.details{
	padding-top: 10px;
	margin-top: 10px;
}

.breakdownContainer{
	margin-top: 70px;
	padding-top: 15px;
}


/* Chatroom area  */
.chatContainer{
	border: 2px solid #939191;
	height: 550px;
	width: 405px;
	float: right;
	margin-right: 5%;
	margin-top: 2%;
	padding:10px;
	background-color: #F6F7F7;
}

.chatroom{
	height: 440px;
	overflow: scroll;
	background-image: url(../images/bg.png);
}

.messageArea{
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 89%;
}

.chatForm{
	position: absolute;
	right: 90px;
	bottom:60px;
}

.special{
	color: #6DBE47;
}

.send {
	width: 45px;
	height: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ece7e8;
	padding: 9px 0px;
	background: -moz-linear-gradient(
		top,
		#6dbe47 0%,
		#538a37);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#6dbe47),
		to(#538a37));
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 2px solid #000000;
	-moz-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0);
}

.send:hover{
	background: -moz-linear-gradient(
		top,
		#6dbe47 0%,
		#365c23);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#6dbe47),
		to(#365c23));
}

.chatInput{
	height:39px;
	width: 345px;
}

.delete{
	width: 22px;
	height: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ece7e8;
	padding: 2px 0px;
	background: -moz-linear-gradient(
		top,
		#BA2F2B 0%,
		#912220);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#BA2F2B),
		to(#912220));
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 2px solid #000000;
	-moz-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0);
}

.delete:hover{
	background: -moz-linear-gradient(
		top,
		#912220 0%,
		#BA2F2B);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#912220),
		to(#BA2F2B));
}

/*Login */
.loginContainer{
	height: 300px;
	width: 570px;
	border: 2px solid #939191;
	float: left;
	margin-left: 5%;
	margin-top: 2%;
	padding: 10px;
	background-color: #F6F7F7;
}

.loginTwitter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#6dd4db 0%,
		#4d63f7);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#6dd4db),
		to(#4d63f7));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 2px solid #ffffff;
	-moz-box-shadow:
		0px 3px 11px rgba(000,000,000,0.1),
		inset 0px 0px 1px rgba(12,15,15,1);
	-webkit-box-shadow:
		0px 3px 11px rgba(000,000,000,0.1),
		inset 0px 0px 1px rgba(12,15,15,1);
	box-shadow:
		0px 3px 11px rgba(000,000,000,0.1),
		inset 0px 0px 1px rgba(12,15,15,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,0);
}

.loginTwitter:hover{
	background: -moz-linear-gradient(
		top,
		#60f7ef 0%,
		#4d63f7));
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#60f7ef),
		to(#4d63f7)));
}

/*about section*/
.about{
	border: 2px solid #939191;
	width:960px;
	height: 360px;
	float:left;
	clear: left;
	margin-left: 15%;
	margin-top: 2%;
	margin-bottom: 9%;
	padding: 10px;
	background-color: #F6F7F7;
}

.aboutContentContainer{
	width:790px;
	margin-left: 5%;
	margin-right: auto;
}