*{
	margin: 0;
	padding:0;
}

body{
	background-color:#FDFBEC;
}

header{
	margin-top: 0;
	margin-bottom: 2%;
	height: 120px;
	background-color: #22211F;
}

header, a{
	color: #6EBE46;
}

h1, h2, h3, h4, h5{
	font-family: 'Merriweather', serif;
}

h1{
	font-size: 260%;
}

h2{
	font-size: 220%;
}

a{
	text-decoration: none;
}

.title{
	vertical-align: middle;
	text-align: center;
	padding-top: 30px;
	clear: both;
}

.leftNav{
	float: left;
	margin-left: 1%;
}

.rightNav{
	float: right;
	margin-right: 1%;
}

.eventContainer{
	float:left;
	clear: left;
	width:600px;
}

.chatroom{
	min-height: 100px; 
	width: 600px;
	float: right;
}

.floatRight{
	float: right;
	height:100px; 
	width: 900px;
}

.floatLeft{
	float: left;
	height: 100px;
	width: 100px;
}