<div class="about">
	<h2>What Exactly Is <span class="special">Quick Click Picks</span>.com?!</h2>

	<div class="aboutContentContainer">
		<p style="text-indent:2em; margin-top:5px; line-height:1.5em;">Well the QCP&reg; is the one and only site for predicting the latest combat sports matches. Users can log in via Twitter, and choose who
		they think will win during whatever event is going on live. Just head over to the Event page when combatants are throwing down, choose which corner (red or blue) will win, and how! All the fun of betting...without losing any money! See who can correctly
		 guess the outcome of one of the most difficult sports to forecast.</p>

		 <p style="text-indent:2em; margin-top:5px; line-height:1.5em;">While the event is happening, see the percentages of other users who either agree or disagree with your predictions update live,
		 	without refreshing the page in your browser! Join the conversation and enter the live chatroom to discuss fights, results, and more!
		 </p>
	</div>
</div>