<!-- Event container -->
<div class="event">
<h2>UFC 182</h2>
<h3>January 1, 2015</h3>
<div class="eventContainer">
	<!-- row of fights -->
	<div class="row1">
		<div class="fight1form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed1()">
				<p><label><input ng-model="red1.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red1.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red1.result" type="radio" value="dec" />Decision</label></p>
				<!-- <p>{{red1}}</p> -->
				<p><button class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue1()">
				<p><label><input type="radio" ng-model="blue1.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue1.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue1.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>

		<!-- fight images -->
		<img src="images/fight.jpg"/>
		<img src="images/fight2.jpg"/>

		<div class="fight2form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed2()">
				<p><label><input ng-model="red2.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red2.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red2.result" type="radio" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue2()">
				<p><label><input type="radio" ng-model="blue2.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue2.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue2.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>
	</div>

	<!-- row 2 of fights -->
	<div class="row2">
		<div class="fight1form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed3()">
				<p><label><input ng-model="red3.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red3.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red3.result" type="radio" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue3()">
				<p><label><input type="radio" ng-model="blue3.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue3.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue3.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>

		<!-- fight images -->
		<img src="images/fight3.jpg"/>
		<img src="images/fight4.jpg"/>

		<div class="fight2form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed4()">
				<p><label><input ng-model="red4.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red4.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red4.result" type="radio" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue4()">
				<p><label><input type="radio" ng-model="blue4.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue4.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue4.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>

		
	</div>

	<div class="results">
	<!-- Live percentage vote results -->
	<h2>Live Pick Results</h2>
		<!-- Calculates total number of votes by adding them all together -->
		<h4><span class="special">{{redFight1.length + blueFight1.length + redFight3.length + redFight4.length + blueFight2.length + blueFight3.length + blueFight4.length}}</span> votes</h4>

	<!-- row of fighter pick results -->
	<div class="row3">
		<!-- little equation to find the percentages of votes 
			Number of votes for the fighter divided by number of votes between fighter and his opponent added
			Multiplied by 100 to show the true percent
			also added "Number : 2" to decrease the amount of digits after the decimal point to appear
		-->
		<h3><span class="special">{{redFight1.length / (redFight1.length + blueFight1.length) * 100 | number : 1}}%</span> : Jones| --</h3>
		<h3><span class="special">{{redFight2.length / (redFight2.length + blueFight2.length) * 100 | number : 1}}%</span> : Diaz| --</h3>
		<h3><span class="special">{{redFight3.length / (redFight3.length + blueFight3.length) * 100 | number : 1}}%</span> : Overeem| --</h3>
		<h3><span class="special">{{redFight4.length / (redFight4.length + blueFight4.length) * 100 | number : 1}}%</span> : Aldo|  <span class="red">LI</span></h3>
	</div>

		<!-- another row of fighter pick results -->
	<div class="row4">
		<h3>-- |Cormier : <span class="special">{{blueFight1.length / (redFight1.length + blueFight1.length) * 100 | number : 1}}%</span> </h3>
		<h3>-- |Silva : <span class="special">{{blueFight2.length / (redFight2.length + blueFight2.length) * 100 | number : 1}}%</span> </h3>
		<h3>-- |Browne : <span class="special">{{blueFight3.length / (redFight3.length + blueFight3.length) * 100 | number : 1}}%</span> </h3>
		<h3><span class="red">VE</span> |Mcgregor : <span class="special">{{blueFight4.length / (redFight4.length + blueFight4.length) * 100 | number : 1}}%</span></h3>
	</div>

	</div>
<!-- loops thru and shows every jon jones result, i.e tko, sub, dec 
	{{test1[0].result}}
	THIS IS VERY IMPORTANT-->
	<div ng-controller="test" >
		{{test1}}
		<div ng-repeat="red in redFight1" ng-if="red.result='dec'">
			<p>{{red.result}} - {{$index}} </p>
		</div>
	</div> 
</div>
</div>

<!-- Chatroom -->
<div class="chatContainer">
<h2>Chatroom</h2>
<h3><span class="special">{{messages.length}}</span> messages</h3>
<div class="chatroom">
	<!-- where messages from the database are fetched and displayed -->
	<div class="messageArea" ng-repeat="message in messages">
		<p>{{message.body}} <strong><span class="special">- {{message.author}} </span></strong><button ng-model="userloggedin.username" ng-if="user.twitter.username" class="delete" ng-click="messages.$remove(message)">X</button></p> 
	</div>
	<!-- chatroom form  -->
	<form class="chatForm" ng-submit="sendMessage()">
		<input class="chatInput" type="text" ng-model="newMessage.body" placeholder="Type Message Here . . ." maxlength="200" autofocus required/>
		<button class="send" type="submit">Send</button>
	</form>

</div>
</div>



<!-- 
tried to make it one button form

<div class="fight2form">
			<form  ng-controller="vote" ng-submit="voteFight2()">
				<div class="redChoice">
				<p><label><input ng-model="red2.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red2.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red2.result" type="radio" value="dec" />Decision</label></p>
				
				</div>
				<div class="blueChoice">
				<p><label><input type="radio" ng-model="blue2.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue2.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue2.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
				</div>
			</form>
		</div> -->