<!-- Event container -->
<div class="event">
<h2>UFC 182</h2>
<h3>January 1, 2015</h3>
<div class="eventContainer">
	<!-- row of fights -->
	<div class="row1">
		<div class="fight1form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed1()">
				<p><label><input ng-model="red1.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red1.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red1.result" type="radio" value="dec" />Decision</label></p>
				<!-- <p>{{red1}}</p> -->
				<p><button type="submit" class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue1()">
				<p><label><input type="radio" ng-model="blue1.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue1.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue1.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>

		<!-- fight images -->
		<img src="images/fight.jpg"/>
		<img src="images/fight2.jpg"/>

		<div class="fight2form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed2()">
				<p><label><input ng-model="red2.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red2.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red2.result" type="radio" value="dec" />Decision</label></p>
				<!-- <p>{{red2}}</p> -->
				<p><button type="submit" class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue2()">
				<p><label><input type="radio" ng-model="blue2.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue2.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue2.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>
	</div>

	<!-- row 2 of fights -->
	<div class="row2">
		<div class="fight1form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed3()">
				<p><label><input ng-model="red3.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red3.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red3.result" type="radio" value="dec" />Decision</label></p>
				<!-- <p>{{red3}}</p> -->
				<p><button type="submit" class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue3()">
				<p><label><input type="radio" ng-model="blue3.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue3.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue3.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>

		<!-- fight images -->
		<img src="images/fight3.jpg"/>
		<img src="images/fight4.jpg"/>

		<div class="fight2form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed4()">
				<p><label><input ng-model="red4.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red4.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red4.result" type="radio" value="dec" />Decision</label></p>
				<!-- <p>{{red4}}</p> -->
				<p><button type="submit" class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue4()">
				<p><label><input type="radio" ng-model="blue4.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue4.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue4.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>

		
	</div>


	<p>Jones Total Votes {{redFight1.length}}</p>
	<p>DC total votes {{blueFight1.length}}</p>
	<p>diaz total votes {{blueFight2.length}}</p>
	<p>spider total votes {{blueFight2.length}}</p>
	<div class="yo" ng-repeat="red in redFight1">
			<p>jj{{red.result}}</p>
	</div>
	<div class="yo" ng-repeat="blue in blueFight1">
			<p>dc{{blue.result}}</p>
	</div>
	<div class="yo" ng-repeat="red in redFight2">
			<p>diaz{{red.result}}</p>
	</div>
	<div class="yo" ng-repeat="blue in blueFight2">
			<p>silva{{blue.result}}</p>
	</div>


</div>
</div>

<!-- chatroom -->
<div class="chatContainer">
<h2>Chatroom</h2>
<h3><span class="special">{{messages.length}}</span> total messages</h3>
<div class="chatroom">
	<div class="messageArea" ng-repeat="message in messages">
		<p>{{message.body}} <strong><span class="special">- {{message.author}} </span></strong><button class="delete" ng-click="messages.$remove(message)">X</button></p> 
	</div>

	<form class="chatForm" ng-submit="sendMessage()">
		<input class="chatInput" type="text" ng-model="newMessage.body" placeholder="Type Message Here . . ." maxlength="200" autofocus required/>
		<button class="send" type="submit">Send</button>
	</form>

</div>
</div>