<!-- Event container -->
<div class="event">
<h2>UFC 182</h2>
<h3>January 1, 2015</h3>
<div class="eventContainer">
	<!-- row of fights -->
	<div class="row1">
		<div class="fight1form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed1()">
				<p><label><input ng-model="red1.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red1.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red1.result" type="radio" value="dec" />Decision</label></p>
				<!-- <p>{{red1}}</p> -->
				<p><button type="submit" class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue1()">
				<p><label><input type="radio" ng-model="blue1.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue1.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue1.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>

		<!-- fight images -->
		<img src="images/fight.jpg"/>
		<img src="images/fight2.jpg"/>

		<div class="fight2form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed2()">
				<p><label><input ng-model="red2.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red2.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red2.result" type="radio" value="dec" />Decision</label></p>
				<!-- <p>{{red2}}</p> -->
				<p><button type="submit" class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue2()">
				<p><label><input type="radio" ng-model="blue2.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue2.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue2.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>
	</div>

	<!-- row 2 of fights -->
	<div class="row2">
		<div class="fight1form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed3()">
				<p><label><input ng-model="red3.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red3.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red3.result" type="radio" value="dec" />Decision</label></p>
				<!-- <p>{{red3}}</p> -->
				<p><button type="submit" class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue3()">
				<p><label><input type="radio" ng-model="blue3.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue3.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue3.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>

		<!-- fight images -->
		<img src="images/fight3.jpg"/>
		<img src="images/fight4.jpg"/>

		<div class="fight2form">
			<form class="redChoice" ng-controller="vote" ng-submit="voteRed4()">
				<p><label><input ng-model="red4.result" type="radio" value="sub" />Submission</label></p>
				<p><label><input ng-model="red4.result" type="radio" value="tko" />(T)KO</label></p>
				<p><label><input ng-model="red4.result" type="radio" value="dec" />Decision</label></p>
				<!-- <p>{{red4}}</p> -->
				<p><button type="submit" class="fight">Pick!</button></p>
			</form>
			<form class="blueChoice" ng-controller="vote" ng-submit="voteBlue4()">
				<p><label><input type="radio" ng-model="blue4.result" value="sub" />Submission</label></p>
				<p><label><input type="radio" ng-model="blue4.result" value="tko" />(T)KO</label></p>
				<p><label><input type="radio" ng-model="blue4.result" value="dec" />Decision</label></p>
				<p><button class="fight">Pick!</button></p>
			</form>
		</div>

		
	</div>
	<h3>Live Pick Results</h3>
		<h4><span class="special">{{redFight1.length + blueFight1.length + redFight3.length + redFight4.length + blueFight2.length + blueFight3.length + blueFight4.length}}</span> total votes</h4>
	<div class="row3">
		<p><span class="special">{{redFight1.length / (redFight1.length + blueFight1.length) * 100}}%</span> : Jones|</p>
		<p><span class="special">{{redFight2.length / (redFight2.length + blueFight2.length) * 100}}%</span> : Diaz|</p>
		<p><span class="special">{{redFight3.length / (redFight3.length + blueFight3.length) * 100}}%</span> : Overeem|</p>
		<p><span class="special">{{redFight4.length / (redFight4.length + blueFight4.length) * 100}}%</span> : Aldo|</p>
	</div>

	<div class="row4">
		<p>|Cormier : <span class="special">{{blueFight1.length / (redFight1.length + blueFight1.length) * 100}}%</span> </p>
		<p>|Silva : <span class="special">{{blueFight2.length / (redFight2.length + blueFight2.length) * 100}}%</span> </p>
		<p>|Browne : <span class="special">{{blueFight3.length / (redFight3.length + blueFight3.length) * 100}}%</span> </p>
		<p>|Mcgregor : <span class="special">{{blueFight4.length / (redFight4.length + blueFight4.length) * 100}}%</span></p>
	</div>
	
	
<!-- loops thru and shows every jon jones result, i.e tko, sub, dec 
	<div class="yo" ng-repeat="red in redFight1">
			<p>jj{{red.result}}</p>
	</div> -->


</div>
</div>

<!-- chatroom -->
<div class="chatContainer">
<h2>Chatroom</h2>
<h3><span class="special">{{messages.length}}</span> total messages</h3>
<div class="chatroom">
	<div class="messageArea" ng-repeat="message in messages">
		<p>{{message.body}} <strong><span class="special">- {{message.author}} </span></strong><button class="delete" ng-click="messages.$remove(message)">X</button></p> 
	</div>

	<form class="chatForm" ng-submit="sendMessage()">
		<input class="chatInput" type="text" ng-model="newMessage.body" placeholder="Type Message Here . . ." maxlength="200" autofocus required/>
		<button class="send" type="submit">Send</button>
	</form>

</div>
</div>