<!-- Signup -->
		<div class="signupArea">

			<form ng-submit="addUser()" class="signup">	
				<div>
					<input type="text" ng-model="newUser.username" placeholder="Username" autofocus/>
				</div>
				<div>
					<input type="text" ng-model="newUser.password" placeholder="Password"/>
				</div>
				<div>
					<button type="submit">Sign Up</button>
				</div>
			</form>
		</div>


<div class="happeningNow">

	<h2>Happening NOW!</h2>
	<h3>UFC 182</h3>
	<a href="#/event"><img src="images/fight.jpg"/></a>

</div>

<div class="upcoming">
	<h2>Upcoming Events</h2>
	<div>
		<div class="floatLeft">
			<h3>UFC 183</h3>
			<h4>January 18, 2015</h4>
			<img src="images/fight2.jpg"/>
		</div>
			
		<div class="floatRight">
			<h3>UFC 184</h3>
			<h4>January 31, 2015</h4>
			<img src="images/fight3.jpg"/>
		</div>
			
	</div>
</div>