<!-- Home index view -->
<div class="topSection">
	<div class="tagline">
		<h3>Think you're a fight expert?</h3>
		<h3>Look into your crystal ball and</h3>
		<h3>CHOOSE A VICTOR!</h3>
	</div>
	<div class="signedIn">
		<h5>Select whatever combat sports event is currently playing</h5>
		<h5>And select which corner, red or blue, you think is going to win the fight.</h5>
		<h5>See who in the world agrees or disagrees with your predictions!</h5>
	</div>
</div>

<!-- Call to Action -->
<div class="happeningNow">
	<h2>Happening NOW!</h2>
	<h3>UFC 182</h3>
	<a href="#/event"><img src="images/fight.jpg"/></a>
	<div class="pickNow">
		<form action="#/event">
			<button id="picknow">Pick Now!</button>
		</form>
	</div>
</div>

<div class="upcoming">
	<h2>Upcoming Events</h2>
	<div>
		<!-- Upcoming fights columns -->
		<div class="column1">
			<h4>UFC 183</h4>
			<h5>January 18, 2015</h5>
			<img src="images/fight4.jpg"/>

			<h4>UFC 184</h4>
			<h5>January 31, 2015</h5>
			<img src="images/fight2.jpg"/>
		</div>
		
		<div class="column2">
			<h4>UFC 183</h4>
			<h5>January 18, 2015</h5>
			<img src="images/fight2.jpg"/>

			<h4>UFC 184</h4>
			<h5>January 31, 2015</h5>
			<img src="images/fight3.jpg"/>
		</div>
	</div>
</div>