<!-- Home index view -->
<div class="topSection">
	<div class="tagline">
		<h4>Think you're a fight expert?</h4>
		<h4>Look into your crystal ball and</h4>
		<h4>CHOOSE A VICTOR!</h4>
	</div>

	<div class="signedIn">
		<h5>Sign in with Twitter!</h5>
		<h5>Hey, {{data.twitter.username}} !</h5>
	</div>

</div>


<div class="happeningNow">
	<h2>Happening NOW!</h2>
	<h3>UFC 182</h3>
	<a href="#/event"><img src="images/fight.jpg"/></a>
	<div class="pickNow">
		<form action="#/event">
			<button id="picknow">Pick Now!</button>
		</form>
	</div>
</div>

<div class="upcoming">
	<h2>Upcoming Events</h2>
	<div>
		<div class="floatLeft">
			<h3>UFC 183</h3>
			<h4>January 18, 2015</h4>
			<img src="images/fight2.jpg"/>
		</div>
			
		<div class="floatRight">
			<h3>UFC 184</h3>
			<h4>January 31, 2015</h4>
			<img src="images/fight3.jpg"/>
		</div>
			
	</div>
</div>